@mixin mq($media) {
	@media (max-width: $media) {
		@content;
	}
}

@mixin flex-mother($direction: row, $align: center, $justify: center) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin positioning($position: absolute, $top: 0, $left: 0) {
	position: $position;
	top: $top;
	left: $left;
}

@mixin dimension($width: 0, $height: 0) {
	width: $width;
	height: $height;
}
